<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .content {
            width: 100%;
            height: 100%;
            margin: 0;
        }


        .content .header-search {
            height: 80px;
            /* background-color: red; */

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content .header-search input {
            width: 90%;
            height: 30px;

            padding: 0 10px;
            border: 1px solid gray;
            border-radius: 5px;
        }

        .content .body-search {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }

        .content .body-search .item-post {
            width: 90%;
            display: flex;
            height: 100px;
            background-color: #424242;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .body-search .item-post .score {

            width: 120px;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            background-color: #5B6E89;
            color: #fff;
            border-radius: 5px;
        }

        .body-search .item-post .content-info {
            width: 100%;
            color: #fff;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: 0 20px;
        }

        .body-search .item-post .content-info h3 {
            cursor: pointer;
        }

        .body-search .item-post .content-info span {
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="header-search">
            <input type="text" placeholder="Search">
        </div>
        <div class="body-search">
            
            {{#each data}}
                <div class="item-post" onclick="{{teste_function}}">
                    <div class="score">
                        <span><b>{{this.score}}</b></span>
                        <span>Score</span>
                    </div>
                    <div class="content-info">
                        <h3>{{this.title}}</h3>
                        <span>{{this.tags}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</body>